node_modules/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database local storage
neo4j_data/
postgres_data/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
desktop.ini
